@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/**********************************************   GENRERAL   **********************************************/
html {
    overflow-y: scroll;
    /*pour l'animation de descente*/
    scroll-behavior: smooth;
    /*pour l'animation de descente*/
    text-align: center;
}

body {
    text-align: center;
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: black !important;
}

.button {
    display: inline-flex;
    height: 40px;
    /*hauteur des boutons*/
    width: 150px;
    /*largeur des boutons*/
    border: #FFFF;
    /*couleurs des bords */
    border-bottom: solid;
    /*cotes bas du bouton noir solid*/
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    /*transforme toutes les lettres en majuscules*/
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*permet de garder le cercle dans le bouton*/
    border-width: 5px;
    /*taille des bord*/
    border-radius: 20px;
    /*angle des bord*/
}

.fa-brands,
.fab,
.fa-solid {
    color: #000;
    font-size: 12vh;
    margin-left: 4vh;
    margin-right: 4vh;
}

a {
    color: black !important;
    text-decoration: none !important;
}

/********************************************** LOADING **********************************************/²

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.loading-image {
    width: 5%;
    height: 5%;
    animation: zoomInOut 1.5s infinite;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
}

/**********************************************   MON CV   **********************************************/

.MCV {
    text-align: center;
}

#CV {
    padding-bottom: 80px;
}

.cvdownload {
    cursor: pointer;
    /*changement de curseur*/
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 1%;
    font-size: 25px;
    transition: 0.5s;
    border-bottom: 10px solid #003884;
}

.cvdownload:hover {
    border-style: inset;
    border-width: 10px;
}

.cvdownload:focus {
    outline: none;
}

#cv {
    width: 54vw;
    height: 100vh;
}

/**********************************************   HEADER   **********************************************/

#navbar_top {
    background-color: #000 !important;
}

.nav-link {
    color: #E5F4FF !important;
    font-size: 15px !important;
}

.nav-link:hover {
    color: #2192a9 !important
}

/**********************************************   INTRO   **********************************************/
#scrolldown:hover {
    filter: invert(60%);
    /*pour changer couleur de l'image lorqu'on la survole*/
    -webkit-filter: invert(60%);
    /*pour changer couleur de l'image lorqu'on la survole*/
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.texte-animate {
    opacity: 0;
    font: 16px/1.5 "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font: 16px/1.5 "Georgia", Times, serif;
    font: 16px/1.5 "Courier New", Courier, monospace;
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.3em;
    animation: fadeIn 1s ease-in-out 2s forwards;
    margin-bottom: 2em;
}

.intro {
    display: none; /* Assurez-vous que l'intro est masquée au début */
    background-color: #00000033;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: white;
    font-size: 25px;
    padding-top: 9%;
    padding-bottom: 4%;
    min-height: 100vh;
    animation: gradientFade 2s ease-in-out forwards; /* Utilisation de l'animation gradientFade */
  }
  #loader {
    font-size: 25px;
    text-align: center;
    background-color: black;
    color: white;
    height: 100vh;
    font-family: monospace;
    align-content: center;
  }

#titre {
    margin-left: 20%;
    margin-right: 20%;
}

#photo {
    margin-top: 10%;
    position: relative;
    float: right;
    /*positionne la photo a droite sans s'occuper du texte de gauche*/
    border-radius: 80%;
    width: 250px;
    height: 250px;
    margin-right: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#apropos {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    margin-bottom: 6em;
}

.textApropos {
    display: unset;
}

pre {
    font-family: monospace;
    font-size: 0.6vw !important;
    overflow-x: hidden !important;
}

.btnApropos:hover {
    cursor: pointer;
    color: white !important;
}

.btnApropos {
    font-size: 7vh;
    color: #2192a9 !important;
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
}

.icon-box {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 162, 221, .2);
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: center;
    padding: 2em;
}

.icon-box:hover {
    border-color: #00a2dd;
}

/**********************************************   COMPETENCES   **********************************************/

#scolaire {
    margin: 4em;
}

.TableCompetence {
    background-color: #151515;
    margin-top: 5%;
    padding: 3%;
    margin-bottom: 5vh;
    border-radius: 25px;
    color: white;
    font-size: large;
    text-align-last: left;
    padding-left: 8%;
    padding-right: 8%;
    display: inline-block;
    line-height: 2;
    box-shadow: rgb(163, 163, 163) 0px 0px 10px 5px;
    width: fit-content;
}

.titreCompetences {
    font-size: 2.6vh;
    color: #003884;
}

.competanceItems {
    padding: 0;
    width: inherit;
}

.competanceItems li.vue {
    opacity: 1;
    transform: translateY(0);
}

.competanceItems li {
    display: inline-table;
    padding: 0 1em;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    color: rgb(0, 0, 0);
    background: #E5F4FF;
    opacity: 0;
    transform: translateY(100px);
    transition: all .6s;
    cursor: pointer;
}

.competanceItems li.vue:hover {
    background-color: darkturquoise;
}

.defileParent {
    overflow: hidden;
    table-layout: fixed;
    margin-bottom: 3%;
    margin-top: 3%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}

.blockCompetences {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    align-items: flex-start;
    margin: 1.5em;
}

.cardCompetence {
    margin-bottom: 3vh;
}


.titleCompetence {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4vh;
}


#imgHackathon {
    padding: 2% 20%;
}

.modern-hover {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
}

.modern-hover img {
    transition: transform 0.3s ease-out;
}

.modern-hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 165, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.modern-hover:hover::before {
    opacity: 1;
}

.modern-hover:hover img {
    transform: scale(1.1);
}


/**********************************************   EXPERIENCES   **********************************************/
.titreexp {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(173, 173, 173);
}

.main-timeline {
    position: relative
}

.postOccuped {
    color: #003884;
    font-size: 1.15em;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #003884;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 190px;
    height: 190px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 190px;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #003884;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 300;
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
}

/**********************************************   PROJET   **********************************************/

.infosProjet {
    padding: 6vh;
    font-size: 20px;
    margin-left: 2vh;
    margin-right: 25vh;
    display: table-cell;
    text-align: left;
}

.projetBox {
    padding: 2vh;
    border-radius: 15px;
    margin-left: 35vh;
    margin-right: 35vh;
    box-shadow: 1px 2px 20px 3px #918181;
    width: fit-content;
}

.btnFicheSynthese {
    border-radius: 15px;
    border-style: outset;
    padding: 2vh;
    font-style: bold;
}

.btnFicheSynthese:hover {
    border-style: inset;
    background-color: #003884;
    color: white;
}

/**********************************************   CONTACT   **********************************************/

#contact {
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom: 80px;
    padding-top: 40px;
}

input[type=submit] {
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #003884;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=submit]:hover {
    background-color: #2192a9;
    border-style: inset;
}

label {
    display: block !important;
    /* La balise devient de type block. */
    width: -150px;
    text-align: center;
    font-size: 22px;
    margin-top: 1%;
}

.inputContact {
    color: white;
    width: 14%;
    height: 40px;
    font-size: 16px;
    transition: 0.5s;
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #28a2a2;
}

textarea {
    resize: none;
    /*bloque la possibilité de mofifier la taille du champ*/
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-style: solid;
    background: white;
    border-width: 10px;
    border-color: #003884;
    border-radius: 15px;
}

/**********************************************   FOOTER   **********************************************/

#corp_du_site {
    min-height: 100vh;
    background: rgb(255, 255, 255);
    margin-bottom: 200px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(90deg, rgba(105, 255, 246, 1) 0%, rgba(0, 56, 132, 1));
    z-index: -1;
    text-align: center;
    padding-bottom: 3vh;
}

#btnMenuBurger {
    display: none;
    font-size: 3vh;
    color: white;
}


/************************************************ animation top **********************/

@font-face {
    font-family: "My Custom Font";
    src: url(1up.ttf) format("truetype");
}

.css-typing {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table;
    margin-bottom: 8vh;
}

.css-typing p {
    font-family: "My Custom Font";
    border-right: .15em solid orange;
    background-color: rgb(14, 13, 13);
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    margin-top: 1.2em;
    animation: type1 2s steps(20, end) 0.4s forwards, blink 0.2s step-end infinite alternate 2.5s;
}

@keyframes type1 {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: translate(0, 0);
    }

    20% {
        -webkit-transform: translate(0px, 15px);
    }

    40% {
        -webkit-transform: translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(0px, 15px);
    }

    40% {
        transform: translate(0, 0);
    }
}

/**************************************************  Recommmandation ********************************************/

.imageRcommandation {
    display: inline-block;
    border-radius: 50%;
    margin: 3vh;
    width: 12vw;
    height: 12vw;
}

#recommandationBlock {
    display: inline-flex;
}

.imageRcommandationSchool {
    display: inline-block;
    border-radius: 50%;
    margin: 3vh;
    width: 8vw;
    height: 8vw;
}


.icons-container {
    display: flex;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-bottom: 3em;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 12s linear infinite;
    display: flex;
    width: calc(250px * 14);
    align-items: center;
    /* Centrer verticalement */
    justify-content: center;
    /* Centrer horizontalement */
}

.slide {
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
}

/**************************************************  RESPONSIVE  ********************************************/

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }

    .main-timeline .date-content:before {
        width: 22.5%
    }

    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }

    .main-timeline .title {
        font-size: 17px
    }

    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }

    .css-typing {
        font: 0.6em "Helvetica Neue", Arial, sans-serif;
        font-weight: bold;
        margin-top: 3em;
    }

    .texte-animate {
        font-size: 1.4em;
        margin-bottom: 6em;
        margin-top: 6em;
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }

    .main-timeline .timeline {
        margin-bottom: 20px
    }

    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }

    .main-timeline .icon {
        margin: auto 0
    }

    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }

    .main-timeline .date-content:before {
        display: none
    }

    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }

    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }

    .main-timeline .date {
        top: 30%
    }

    .main-timeline .year {
        font-size: 24px
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }

    .main-timeline .title {
        margin-bottom: 10px
    }

    #recommandationBlock {
        display: flow-root !important;
    }

    #apropos {
        font-size: 12px;
    }
}

@media screen and (max-width: 990px) {
    .projetBox {
        display: table-cell;
        margin-left: 0;
        margin-right: 0;
    }

    .btnMenu {
        float: none !important;
        font-size: 22px !important;
        padding: 2.6vh !important;
    }

    #btnMenuBurger {
        display: block !important;
    }

    .blockCompetences {
        flex-direction: column;
    }

    #cv {
        height: 20em;
    }

    #photo {
        width: 130px;
        height: 130px;
    }

    .inputContact {
        width: 45%;
    }

    #imgHackathon {
        padding: 2% 2%;
    }

    .articles-container{
        place-content: center;
    }
}

/* CERTIFICATONS */
/* Section des articles */
.certification-section {
    position: relative;
    background: url('img/cyber.jpg') no-repeat center center fixed; /* Remplacez 'cyber.jpg' par le chemin de votre image */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 350px 20px;
    overflow: hidden;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
}

.article:hover {
    cursor: pointer;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgb(97 175 255);
}

.article img {
    width: 100%;
    height: auto;
    display: block;
}

.article-content {
    padding: 20px;
    height: 100%;
}

.article-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.article-text {
    font-size: 1em;
    line-height: 1.5;
    color: #CCCCCC;
}

.button-article {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px; /* Ajoutez un espacement pour séparer le bouton du contenu */
    background-color: #141619;
    color: #fff !important;
    text-decoration: none;
    border-radius: 5px;
    font-size: small;
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: "My Custom Font";
}

.button-article:hover {
    background-color: #2192a9;
}